body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    width:100%;
}
header {
    height: 50px;
    margin-left:100px;
    margin-top: 43px;
}
 header a{
        text-decoration: none;
 }
header img{
            height:50px;
        }
    
.photograph-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 313px;
    width: 86%;
    margin:40px 100px 40px 100px;
    border-radius: 5px;
    background: #FAFAFA;
    /* &a {
        text-decoration: none;
    }  */
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.photograph-header img{
    height: 200px;
    width: 200px;
    margin-right: 50px;
    border-radius: 50%;
    object-fit:  cover;
    flex-shrink: 0;
    fill: #C4C4C4;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
}
.photograph-name{
    margin-left: 50px;
}
.photograph-name h2{
    color: #D3573C;
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom:auto;
}
.photograph-name h3{
    color: #901C1C;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.photograph-name h4{
    color: #525252;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.photograph-medias{
    display: flex;
    flex-direction: column;
    margin:0px 100px 50px 100px;
    width :86%;
}
.photograph-medias a {
        text-decoration: none;
  
    }
    
.photograph-medias label{
        color: #000;
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-right: 10px;
    }
.photograph-medias select{
        width: 170px;
        border-radius: 5px; 
        background: #901C1C;
        margin-left: 30px;
        color: #FFF;
        font-family: DM Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border: none; /*Supprimez la bordure par défaut*/
    /* border-bottom: 1px solid red; Ajoutez une bordure inférieure */
    /* padding-bottom: 5px; */
   
}
.photograph-medias select option{
                 /* color: #FFF;
                font-family: DM Sans;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal; */
                /* border: none; Supprimez la bordure par défaut */
                 border-bottom: 5px solid red; /*Ajoutez une bordure inférieure*/
                 padding: 5px; 
            } 
            
hr{
    /* margin:14px 0; */
/* border-color: red; */
border-top: 3px solid #FFF;
color:#FFF;
/* border-style: initial; */
}

.medias-photograph{
    display: flex;
    flex-direction: row;
    /* width: auto; */
    justify-content: start;
    flex-wrap: wrap;
    margin-top:58px;
    /* padding-right:165px; */
}
.medias-photograph .medias-photograph-title-like{
        margin-bottom:30px;
        margin-right: 80px;
        /* margin-left:40px; */
    }
.medias-photograph img {
        border-radius: 5px;
        width: 350px;
        height: 300px;
        margin-bottom: 0px;  
        object-fit: cover;
    }
.medias-photograph video{
        border-radius: 5px;
        width: 350px;
        height: 300px;
        margin-bottom: 0px;
    }



.titre_coeur_medias{
    display: flex;
    flex-direction: row;
    align-items: center;
    height:31px;
}
.titre_coeur_medias h3{
        color: #901C1C;
        font-family: DM Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 292px;
    }
.titre_coeur_medias h4{
        color: #901C1C;
        text-align: right;
        font-family: DM Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
.titre_coeur_medias img{
        width: 21px;
        height: 24px;
    }



.photograph_likes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 376px;
    height: 25px;
    border-radius: 5px;
    background: #DB8876;
    padding:20px 0px 20px 0px;
    position: fixed;
    bottom: 0;
    right: 36px;
}
.photograph_likes img{
        width: 21px;
        height: 24px;
        margin-right:90px;
    }

.tarif-journalier{
        color: #000;
        text-align: right;
        font-family: DM Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
       margin-right: 5px;
       text-align: right;
    }
.likes-number{
        color: #000;
        text-align: right;
        font-family: DM Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
       margin-right: 5px;
    
}

/* Modal de contact */
#contact_modal {
    display: none;
}
.modal {
    width: 669px;
    height: 900px;
    border-radius: 5px;
    background-color: #DB8876;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 35px 35px 35px;
    margin: auto;
    position:absolute;
    top:70px;
    left:390px;
}

.modal header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 166px;
    margin:0px 0px 15px 0px;
}

.modal-close-btn{
    cursor: pointer;
    position:relative;
    height: 60px;
    width:60px;
    border:0px;
    background-color: transparent;
}
.modal-close-btn img{
        cursor: pointer;
        position:relative;
        height: 60px;
        width:60px;
        right:-15px;
    }


.modal header h2 {
    color: #000;
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:0px;
}

.header-modal-contact{
    display: flex;
    flex-direction: row;
    width:auto;
    height:170px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    width: 599px;
    /* height: 68px; */
    color: #312E2E;
    font-size: 36px;
}

form label span{
    font-size: 19px;
}


form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background: #FFF;
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal-message{
    width: 100%;
    height: 170px;
    border-radius: 5px;
    background: #FFF;
    font-family: DM Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* LightBox Modal*/
.section_lightbox_modal{
    display: none;
    width: 1440px;
    height: 1024px;
    background-color: #FFF;
    position:absolute; 
    top:0px;
    left:200px;
    z-index: +9999;
}

.lightbox_modal{
    width: 1253px;
    height: 984px;
    flex-shrink: 0;
    background-color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:40px 86px 0px 101px;
}
.lightbox_modal h3{
        color: #901C1C;
        font-family: DM Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 12px;
        margin-bottom: 19px;
        }

.lightbox-media img{
        width:1050px;
        height:900px;
        border-radius: 5px;
        color: #C4C4C4;
        object-fit: contain;
    }
.lightbox-media video{
        width:1050px;
        height:900px;
        border-radius: 5px;
        color: #C4C4C4;
    }


.lightbox-close-next{
    height:100%;
}
.lightbox-close-btn{
   margin: 0px 25px 0px 12px;
}

.next_media{
        width: 96px;
        height: 96px;
        flex-shrink: 0;
        color: #901C1C;
        margin:402px 13px 402px 0px;
}



